version: '3.8'

services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=gre_user
      - POSTGRES_PASSWORD=gre_password
      - POSTGRES_DB=gre_db
    ports:
      - "5432:5432"

volumes:
  postgres_data: